body {
  color: #555753;
  background-color:#5F5E80;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a:link, a:visited { 
  text-decoration:underline;
  color: #555753;
}

a:hover, a:active { 
  color: #9685BA;
}

#container { 
  background-color:#FFFFFF;
  padding: 20px;
  margin: 0 auto;
}

header {
  background:url("http://s3.amazonaws.com/rawene.co.nz/images/PMbannerR.jpg") no-repeat scroll 0 0 transparent;
  display:block;
  height:127px;
}

header h1 {
  display:none;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav#access {
  margin: 0 auto;
  display: block;
}

nav#access ul {
  text-align:right;
}

nav#access ul li {
  padding: 0px;
}

nav#access ul li + li {
 border-left: 1px solid #FFFFFF;
}

nav#access ul li a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

nav#access ul li a:hover {
  text-decoration: underline;
}

nav#main ul {
  background-color: #D2D1E6;
  padding: 0px;
  margin: 0px;
}

nav#main ul li a {
  display:block;
  padding: 10px 20px;
  text-decoration: none;
}

nav#main ul li a:hover, nav#main ul li a:active {
  background-color:#6F6CBF;
  color: #FFFFFF;
}

.clear {
 clear: both;
}

.advert {
  float: right;
  margin-left: 20px;
  border: 1px solid #E6DFCF;
}

article {
  padding: 0px 0px 20px 0px;
}

article .divider {
  display: block;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px dotted #D2D1E6;
}

article section {
  display: inline-block;
  vertical-align: top;
}

article aside {
  display: inline-block;
  width: 200px;
}

article aside a {
  display: block;
  text-decoration: none;
  white-space:nowrap;
  background-color: #D6CCC0;
}

article aside a sub {
  display: block;
  color: #333;
  font-weight: bold;
  padding-bottom: 1px;
  padding: 5px 5px 10px 5px;
}

article aside.left {
  margin: 20px 20px 0px 0px;
}

article aside.right {
  margin: 20px 0px 0px 20px;
}
